### 1.Define a business goal 
- Train a model that is as accurate as posiible on the titanic dataset, predict survival

### 2. Get the data

In [1]:
import pandas as pd
df = pd.read_csv('./data/train.csv', ',')
df.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [2]:
df.shape

(891, 12)

### 3. Train-Test split

In [3]:
X=df.drop('Survived', axis=1)

In [4]:
y=df['Survived']

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
X_train, X_test, y_train, y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [7]:
X_train.shape, y_train.shape

((712, 11), (712,))

In [8]:
X_test.shape, y_test.shape

((179, 11), (179,))

In [9]:
X_train['Embarked'].isna().sum()

2

In [10]:
pd.get_dummies(X_train[['Embarked','Fare']])

         Fare  Embarked_C  Embarked_Q  Embarked_S
331   28.5000           0           0           1
733   13.0000           0           0           1
382    7.9250           0           0           1
704    7.8542           0           0           1
813   31.2750           0           0           1
..        ...         ...         ...         ...
106    7.6500           0           0           1
270   31.0000           0           0           1
860   14.1083           0           0           1
435  120.0000           0           0           1
102   77.2875           0           0           1

[712 rows x 4 columns]

### 4. Feature Engineeting

In [11]:
def feature_engineer(df):
    df=df[['Embarked', 'Fare']]
    df['Embarked']=df['Embarked'].fillna('S')
    df=pd.get_dummies(df)
    fe_df=df.drop('Embarked_C',axis=1)
    return fe_df

In [12]:
X_train_fe=feature_engineer(X_train)

<ipython-input-11-cb2dc7ee4f6b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Embarked']=df['Embarked'].fillna('S')

### 5. Train Model

In [13]:
from sklearn.linear_model import LogisticRegression

In [14]:
m=LogisticRegression(C=0.1)

In [15]:
X_train_fe.head()

        Fare  Embarked_Q  Embarked_S
331  28.5000           0           1
733  13.0000           0           1
382   7.9250           0           1
704   7.8542           0           1
813  31.2750           0           1

In [16]:
m.fit(X_train_fe, y_train)

LogisticRegression(C=0.1)

In [17]:
m.score(X_train_fe,y_train) #training accuracy

0.6882022471910112

### 6. Optimize/Cross-Validation

### 7. Calculate test-score

In [18]:
X_test_fe=feature_engineer(X_test)

<ipython-input-11-cb2dc7ee4f6b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Embarked']=df['Embarked'].fillna('S')

In [19]:
m.score(X_test_fe,y_test)
# testing accuracy
# training accuracy was 68.4%
# overfitting because training score is more than testing score

0.6759776536312849

Interpretation:
- Slightly overfit
- Also, both scores are pretty bad 
- Go back and feature engineer differently
  - How we can improve
    - drop bad features (low coefficient)
    - add new (better) features (decision trees)